.form-search{
    border: 1px solid #8d9496;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #eaefef;
}
.title-form{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}
#text_input{
    height: 100px;
}
.row {
    margin-bottom: 20px;
}
.s_search{

}
.title_text{
    font-size: 20px;
    font-weight: bold;
}
.title_sub_text{
    font-size: 20px;
    font-weight: bold;
}